{% load static %}
<nav class="navbar navbar-expand-lg navbar-light nvb">
    <div class="container-fluid">
      <div class="col-10 col-lg-9"> 
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/restaurant-store-svgrepo-com.svg' %}" id="logo-nvb" style="height: 40px;">
        <span class="logo mt-2"> Deli Food </span>
      </a>
      </div>   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nvb-item" aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nvb-item" href="{% url 'register' %}">Añadir plato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nvb-item" href="{% url 'show' %}">Mostrar platos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>